usethisPipe.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureBlobStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/usethisPipe')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Metadata1","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"SampleFolderBlob","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Get Metadata1","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Metadata1').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"If Condition1","type":"IfCondition","dependsOn":[{"activity":"Get Metadata2","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@greater(activity('Get Metadata2').output.size,pipeline().parameters.sizeThreshold)","type":"Expression"},"ifTrueActivities":[{"name":"Delete1","type":"Delete","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Test100kbFolder","type":"DatasetReference","parameters":{"fileName":{"value":"@variables('File_Name')","type":"Expression"}}},"logStorageSettings":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage1')]","type":"LinkedServiceReference"},"path":"error-code"},"enableLogging":true,"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"Delete1","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":{"value":"@activity('Delete1').output.message","type":"Expression"},"errorCode":"500"}},{"name":"Set variable1","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"Current_Time","value":{"value":"@formatDateTime(utcNow(), 'yyyy-MM-dd-HH-mm')","type":"Expression"}}},{"name":"Append variable1","type":"AppendVariable","dependsOn":[{"activity":"Delete1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"ListofFiles","value":{"value":"@concat('File: ', variables('File_Name'), ' Deleted at: ', variables('Current_Time'), ' | ')\n","type":"Expression"}}}]}},{"name":"Get Metadata2","type":"GetMetadata","dependsOn":[{"activity":"Set variable1_copy1","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Test100kbFolder","type":"DatasetReference","parameters":{"fileName":{"value":"@variables('File_Name')","type":"Expression"}}},"fieldList":["size"],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"Set variable1_copy1","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"File_Name","value":{"value":"@item().name","type":"Expression"}}},{"name":"IF_fail","type":"Fail","dependsOn":[{"activity":"If Condition1","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":{"value":"'IF Activity failed! Unknown cause!'","type":"Expression"},"errorCode":"501"}}]}},{"name":"Set variable3","type":"SetVariable","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"strListofFiles","value":{"value":"@{variables('ListofFiles')} ","type":"Expression"}}},{"name":"Web1","type":"WebActivity","dependsOn":[{"activity":"Set variable3","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":"https://prod2-00.swedencentral.logic.azure.com:443/workflows/0aab0f6281534130a7f6357e4a950bc2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=-WlsuxGGK-8XWEZieIx9HJash-hSkB8gPgQDP4uEows","method":"POST","headers":{},"body":{"value":"{\n\"ListofFiles\":@{variables('ListofFiles')}\n}","type":"Expression"}}},{"name":"Fail2","type":"Fail","dependsOn":[{"activity":"Web1","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":{"value":"@activity('Web1').error.message","type":"Expression"},"errorCode":"503"}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"sizeThreshold":{"type":"int","defaultValue":200}},"variables":{"File_Name":{"type":"String"},"Current_Time":{"type":"String","defaultValue":"null"},"ListofFiles":{"type":"Array"},"strListofFiles":{"type":"String"}},"annotations":[],"lastPublishTime":"2023-09-29T18:19:17Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/SampleFolderBlob')]","[concat(variables('factoryId'), '/datasets/Test100kbFolder')]"]},{"name":"[concat(parameters('factoryName'), '/SampleFolderBlob')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"tempcsv"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":false,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Test100kbFolder')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage1')]","type":"LinkedServiceReference"},"parameters":{"fileName":{"type":"string","defaultValue":null}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@dataset().fileName","type":"Expression"},"container":"tempcsv"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"Row","type":"String"},{"name":"Country","type":"String"},{"name":"Year","type":"String"},{"name":"Product_Type","type":"String"},{"name":"Sales","type":"String"}]},"dependsOn":[]}]}